/* https://coderchronicles.org/2016/04/12/create-a-full-screen-layout-for-mobile-web-apps/ */
@media (max-width: 600px) {
  * {
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
  }

  html {
    width: 100%;
    height: 100%;
  }
  body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./wizard-library.jpeg");
    background-size: cover;
    background-repeat: repeat-y;
  }
  .definitionsBox {
    border: 3px double rgba(28, 110, 164, 0.6);
    overflow: scroll;
    margin-bottom: 10px;
  }
  .quotesBox {
    border: 3px double rgba(164, 28, 135, 0.6);
    overflow: hidden;
  }
  .quotesBox,
  .definitionsBox {
    border-radius: 12px;

    min-width: 100px;
    margin: 10px;

    background-color: rgba(27, 3, 22, 0.6);
    color: white;
    padding: 10px;
  }

  /* Nick did this - double check my work */
  .wordScrollBox {
    border: 3px double rgba(164, 28, 135, 0.9);    
    overflow: scroll;
    height: 600px;
  }

  .definitionsBox > li {
    text-align: left;
  }
  header {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  header > h1 {
    font-size: 3rem;
    color: white;
    padding: 10px;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
}
