/* https://coderchronicles.org/2016/04/12/create-a-full-screen-layout-for-mobile-web-apps/ */
@media (max-width: 600px) {
  * {
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
  }

  html {
    width: 100%;
    height: 100%;
  }
  body {
    min-height: 100%;
    display: inline-grid;
    background-image: url("./wizard-library.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container {
    width: 100%;
    grid-template-rows: 1fr auto;
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .definitionsBox {
    border: 3px double rgba(28, 110, 164, 0.9);
  }
  .quotesBox {
    border: 3px double rgba(164, 28, 135, 0.9);
  }
  .quotesBox,
  .definitionsBox {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    min-width: 50%;
    max-width: 75%;
    margin: 5px 10px auto 10px;
    background-color: rgba(27, 3, 22, 0.2);
    color: white;
    padding: 10px;
  }

  header {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  header > h1 {
    font-size: 2rem;
    color: white;
    padding: 10px;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }

  footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    position: fixed;
    height: 50px;
  }

  footer > a {
    color: white;
    font-size: 1.5em;
  }
}
