@media (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    display: grid;
    background-color: pink;
    align-items: center;
    justify-content: center;
  }
  .container {
    grid-template-areas:
      "header header header"
      "footer footer footer";
    grid-template-rows: 1fr auto;
    grid-gap: 5px;
  }

  main {
    grid-area: content;
  }

  .definitions-box {
    border: 1px solid black;
    margin: 10px;
  }
  .quotes-box {
    border: 1px solid black;
    margin: 10px;
  }
  header {
    grid-area: header;
    background-color: rgb(150, 127, 255);
  }

  button {
    border-radius: 90%;
    background-color: black;
    color: rgb(243, 221, 221);
    padding: 20px;
    font-size: 1em;
  }

  nav {
    grid-area: nav;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  footer {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(122, 252, 144);
  }
}
