/* Desktop Styles */
@media only screen and (min-width: 901px) {
  * {
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
  }

  html {
    width: 100%;
    height: 100%;
  }
  body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./wizard-library.jpeg");
    background-size: cover;
    background-repeat: repeat-y;
  }

  .definitionsBox {
    border: 3px double rgba(28, 110, 164, 0.9);
    clear: both;

    overflow: scroll;
  }
  .quotesBox {
    border: 3px double rgba(85, 2, 67, 0.9);
    width: 15%;
    height: auto;
    min-height: 200px;
  }
  .quotesBox,
  .definitionsBox {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    float: left;
    margin: 5px 5px auto 20px;
    background-color: rgba(27, 3, 22, 0.6);
    color: white;
    padding: 20px;
  }
  .categoryStyle {
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 2px;
  }
  .definitionsBox > ul > li {
    text-align: left;
    font-size: 1em;
  }

  header > h1 {
    font-size: 3rem;
    color: white;
    padding: 10px;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }

  footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    position: fixed;
    height: 50px;
  }

  footer > a {
    color: white;
    font-size: 1.5em;
  }
}
